/* Глобальні стилі */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #F4F9F9;
    color: #2C3E50;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
}

/* Стилі для скролбару */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #DCE4EC;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #1B4F72;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2ECC71;
}